openapi: 3.2.0
info:
  version: 6.1.0
  title: FHIR Single API - US Core 6.1.0 Procedure API
  description: 'Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR is designed for the web; the resources are based on simple JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. This OpenAPI specification is aligned to the HL7 FHIR US Core Implementation Guide STU 6.1.0 on FHIR R4 (v4.0.1).

    '
  x-fhir-version: 4.0.1
  x-us-core-version: 6.1.0
servers:
- url: https://providerapi.advancedmd.com/v1/r4
security:
- bearerAuth: []
tags:
- name: Procedure
paths:
  /Procedure:
    get:
      tags:
      - Procedure
      description: "This interaction searches a set of Procedures based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-procedure.html'>\U0001F4D8 FHIR documentation for Procedure.</a></p>\n\n\U0001F6E1️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n"
      parameters:
      - name: patient
        in: query
        description: Search by subject - a patient
        schema:
          type: string
        examples:
          patient_id:
            summary: Logical patient id
            value: '6077169'
          patient_reference:
            summary: Relative Patient reference
            value: Patient/6077169
      - name: date
        in: query
        description: When the procedure was performed
        schema:
          type: string
          format: date
        example: '2024-06-01'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Procedure'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /Procedure/{id}:
    get:
      tags:
      - Procedure
      description: "This interaction searches Procedure based on procedure id.Search interactions take procedure id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-procedure.html'>\U0001F4D8 FHIR documentation for Procedure.</a></p>\n\n\U0001F6E1️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n"
      parameters:
      - name: id
        in: path
        description: The logical resource id associated with the Resource.
        required: true
        schema:
          type: integer
          example: 5307986
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Procedure'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /Procedure/_search:
    post:
      tags:
      - Procedure
      description: "This interaction searches a set of Procedures based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-procedure.html'>\U0001F4D8 FHIR documentation for Procedure.</a></p>\n\n\U0001F6E1️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n"
      operationId: Procedures Search using POST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                patient:
                  type: integer
                  description: Search by subject - a patient
                  example: 6077169
                date:
                  type: string
                  format: date
                  description: When the procedure was performed
                  example: '2024-06-01'
              required:
              - patient
      responses:
        '200':
          description: Procedure bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Procedure'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      required:
      - text
      - issue
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        issue:
          type: array
          items:
            required:
            - severity
            - code
            - diagnostics
            type: object
            properties:
              severity:
                minLength: 1
                type: string
              code:
                minLength: 1
                type: string
              diagnostics:
                minLength: 1
                type: string
    Procedure:
      x-us-core-profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-procedure
      required:
      - asserter
      - code
      - followUp
      - id
      - meta
      - note
      - performedDateTime
      - performer
      - reasonCode
      - recorder
      - resourceType
      - status
      - subject
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        status:
          minLength: 1
          type: string
        code:
          required:
          - coding
          - text
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
            text:
              minLength: 1
              type: string
        subject:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        performedDateTime:
          minLength: 1
          type: string
        recorder:
          required:
          - display
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            display:
              minLength: 1
              type: string
        asserter:
          required:
          - display
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            display:
              minLength: 1
              type: string
        performer:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              actor:
                required:
                - display
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        reasonCode:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - text
            type: object
            properties:
              text:
                minLength: 1
                type: string
        followUp:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - text
            type: object
            properties:
              text:
                minLength: 1
                type: string
        note:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - text
            type: object
            properties:
              text:
                minLength: 1
                type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ''
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: HL7 FHIR US Core IG STU 6.1.0
  url: https://hl7.org/fhir/us/core/STU6.1/
