openapi: 3.2.0
info:
  version: 6.1.0
  title: FHIR Single API - US Core 6.1.0 Organization API
  description: Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts.
  x-fhir-version: 4.0.1
  x-us-core-version: 6.1.0
servers:
- url: https://providerapi.advancedmd.com/v1/r4
security:
- bearerAuth: []
tags:
- name: Organization
paths:
  /Organization:
    get:
      tags:
      - Organization
      description: 'This interaction searches a set of Organizations based on some filter criteria. Search interactions take a series of query parameters for a GET.

        📘 FHIR documentation for Organization.


        🛡️ **Authorization behavior:**

        - **Patients** (using `patient/*.read` scope) can access only their own resources.

        - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.

        - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient''s data.'
      parameters:
      - name: name
        in: query
        description: A portion of the organization's name.
        schema:
          type: string
        example: Family Medicine
      - name: address
        in: query
        description: A server defined search that matches address text.
        schema:
          type: string
        example: 123 Main St
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get organization
      x-summary-source: derived
      operationId: getOrganization
      x-operation-id-source: derived
  /Organization/{id}:
    get:
      tags:
      - Organization
      description: 'This interaction searches Organization based on organization id.Search interactions take organization id in path for a GET.

        📘 FHIR documentation for Organization.


        🛡️ **Authorization behavior:**

        - **Patients** (using `patient/*.read` scope) can access only their own resources.

        - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.

        - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient''s data.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          example: 174
      - name: patient
        in: query
        description: Patient ID to filter the search.
        schema:
          type: integer
          example: 6077169
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get organization by id
      x-summary-source: derived
      operationId: getOrganizationById
      x-operation-id-source: derived
components:
  schemas:
    Error:
      required:
      - text
      - issue
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        issue:
          type: array
          items:
            required:
            - severity
            - code
            - diagnostics
            type: object
            properties:
              severity:
                minLength: 1
                type: string
              code:
                minLength: 1
                type: string
              diagnostics:
                minLength: 1
                type: string
    Organization:
      x-us-core-profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-organization
      required:
      - address
      - alias
      - endpoint
      - id
      - meta
      - name
      - resourceType
      - telecom
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        name:
          minLength: 1
          type: string
        alias:
          type: array
          items:
            type: object
            properties: {}
        telecom:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - system
            - value
            type: object
            properties:
              system:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
        address:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - city
            - country
            - postalCode
            - state
            type: object
            properties:
              line:
                type: array
                items:
                  type: object
                  properties: {}
              city:
                minLength: 1
                type: string
              state:
                minLength: 1
                type: string
              postalCode:
                minLength: 1
                type: string
              country:
                minLength: 1
                type: string
        endpoint:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - reference
            type: object
            properties:
              reference:
                minLength: 1
                type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ''
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: HL7 FHIR US Core IG STU 6.1.0
  url: https://hl7.org/fhir/us/core/STU6.1/
