openapi: 3.2.0
info:
  title: FHIR Bulk Cancel Bulk Data Export API
  description: HealthAPIx OAuth v2.0 API Specs for Backend Services Token Generation and Bulk Data Export Procedure
  version: '1.1'
servers:
- url: https://providerapi.advancedmd.com
tags:
- name: Cancel Bulk Data Export
paths:
  /v1/fhir-bulk/status:
    delete:
      tags:
      - Cancel Bulk Data Export
      description: Cancel (DELETE) existing Bulk Data Export
      security:
      - bearerAuth: []
      parameters:
      - in: header
        name: OfficeKey
        description: OfficeKey
        required: true
        schema:
          type: integer
        example: 991900
      - in: query
        name: groupId
        required: true
        schema:
          type: integer
        example: 12345
      - in: query
        name: jobId
        required: true
        schema:
          type: integer
        example: 3739
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportIsCanceled'
        '400':
          description: Error. Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcomeWithID'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
      summary: Delete fhir bulk status
      x-summary-source: derived
      operationId: deleteV1FhirBulkStatus
      x-operation-id-source: derived
components:
  schemas:
    OperationOutcome:
      type: object
      properties:
        resourceType:
          type: string
        text:
          type: object
          properties:
            status:
              type: string
            div:
              type: string
        issue:
          type: array
          items:
            type: object
            properties:
              severity:
                type: string
              code:
                type: string
              diagnostics:
                type: string
    ExportIsCanceled:
      type: object
      properties:
        status:
          type: string
        groupId:
          type: integer
        jobId:
          type: integer
    OperationOutcomeWithID:
      type: object
      properties:
        resourceType:
          type: string
        id:
          description: jobId
          type: string
        issue:
          type: array
          items:
            type: object
            properties:
              severity:
                type: string
              code:
                type: string
              details:
                type: object
                properties:
                  text:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
