openapi: 3.2.0
info:
  version: 6.1.0
  title: FHIR Single API - US Core 6.1.0 Location API
  description: Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts.
  x-fhir-version: 4.0.1
  x-us-core-version: 6.1.0
servers:
- url: https://providerapi.advancedmd.com/v1/r4
security:
- bearerAuth: []
tags:
- name: Location
paths:
  /Location:
    get:
      tags:
      - Location
      description: 'This interaction searches a set of Locations based on some filter criteria. Search interactions take a series of query parameters for a GET.

        📘 FHIR documentation for Location.


        🛡️ **Authorization behavior:**

        - **Patients** (using `patient/*.read` scope) can access only their own resources.

        - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.

        - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient''s data.'
      parameters:
      - name: name
        in: query
        description: A (portion of the) location's name
        schema:
          type: string
          example: Family Medicine
      - name: address
        in: query
        description: A (portion of the) address of the location
        schema:
          type: string
          example: 123 Main St
      - name: address-city
        in: query
        description: A city specified in an address
        schema:
          type: string
          example: Kansas City
      - name: address-state
        in: query
        description: A state specified in an address
        schema:
          type: string
          example: MO
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        schema:
          type: string
          example: '64154'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Location'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get location
      x-summary-source: derived
      operationId: getLocation
      x-operation-id-source: derived
  /Location/{id}:
    get:
      tags:
      - Location
      description: 'This interaction searches Location based on location id.Search interactions take location id in path for a GET.

        📘 FHIR documentation for Location.


        🛡️ **Authorization behavior:**

        - **Patients** (using `patient/*.read` scope) can access only their own resources.

        - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.

        - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient''s data.'
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: '174'
      - name: patient
        in: query
        description: Patient ID to filter the search.
        schema:
          type: integer
          example: 6077169
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Location'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get location by id
      x-summary-source: derived
      operationId: getLocationById
      x-operation-id-source: derived
components:
  schemas:
    Account_text:
      required:
      - div
      - status
      type: object
      properties:
        status:
          minLength: 1
          type: string
        div:
          minLength: 1
          type: string
    ActivityDefinition_valueCodeableConcept:
      required:
      - coding
      type: object
      properties:
        coding:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Account_type_coding'
    Appointment_basedOn:
      required:
      - reference
      properties:
        reference:
          minLength: 1
          type: string
    Account_meta:
      required:
      - tag
      type: object
      properties:
        tag:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Account_type_coding'
    ActivityDefinition_telecom:
      required:
      - system
      - use
      - value
      properties:
        system:
          minLength: 1
          type: string
        value:
          minLength: 1
          type: string
        use:
          minLength: 1
          type: string
    Account_type_coding:
      required:
      - code
      - display
      - system
      properties:
        system:
          minLength: 1
          type: string
        code:
          minLength: 1
          type: string
        display:
          minLength: 1
          type: string
    Location:
      x-us-core-profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-location
      required:
      - address
      - alias
      - description
      - endpoint
      - id
      - identifier
      - managingOrganization
      - meta
      - mode
      - name
      - physicalType
      - position
      - resourceType
      - status
      - telecom
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          $ref: '#/components/schemas/Account_text'
        identifier:
          description: Business identifiers assigned to the location by scheduling, facility, or source systems.
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/CarePlan_identifier'
        status:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        alias:
          type: array
          items:
            properties: {}
        description:
          minLength: 1
          type: string
        mode:
          minLength: 1
          type: string
        telecom:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/ActivityDefinition_telecom'
        address:
          $ref: '#/components/schemas/Location_address'
        physicalType:
          $ref: '#/components/schemas/ActivityDefinition_valueCodeableConcept'
        position:
          $ref: '#/components/schemas/Location_position'
        managingOrganization:
          $ref: '#/components/schemas/Account_coverage'
        endpoint:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Appointment_basedOn'
        meta:
          $ref: '#/components/schemas/Account_meta'
    Location_position:
      required:
      - altitude
      - latitude
      - longitude
      type: object
      properties:
        longitude:
          type: number
        latitude:
          type: number
        altitude:
          type: number
    Error:
      required:
      - text
      - issue
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        issue:
          type: array
          items:
            required:
            - severity
            - code
            - diagnostics
            type: object
            properties:
              severity:
                minLength: 1
                type: string
              code:
                minLength: 1
                type: string
              diagnostics:
                minLength: 1
                type: string
    CarePlan_identifier:
      description: Simple business identifier structure used when only an identifier value is carried in this specification.
      required:
      - value
      properties:
        value:
          description: Business identifier value assigned by the source system.
          minLength: 1
          type: string
    Account_coverage:
      required:
      - reference
      type: object
      properties:
        reference:
          minLength: 1
          type: string
    Location_address:
      required:
      - city
      - country
      - line
      - postalCode
      - use
      type: object
      properties:
        use:
          minLength: 1
          type: string
        line:
          type: array
          items:
            properties: {}
        city:
          minLength: 1
          type: string
        postalCode:
          minLength: 1
          type: string
        country:
          minLength: 1
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: HL7 FHIR US Core IG STU 6.1.0
  url: https://hl7.org/fhir/us/core/STU6.1/
