openapi: 3.2.0
info:
  version: 6.1.0
  title: FHIR Single API - US Core 6.1.0 Medication Dispense API
  description: 'Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR is designed for the web; the resources are based on simple JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. This OpenAPI specification is aligned to the HL7 FHIR US Core Implementation Guide STU 6.1.0 on FHIR R4 (v4.0.1).

    '
  x-fhir-version: 4.0.1
  x-us-core-version: 6.1.0
servers:
- url: https://providerapi.advancedmd.com/v1/r4
security:
- bearerAuth: []
tags:
- name: MedicationDispense
paths:
  /MedicationDispense:
    get:
      tags:
      - MedicationDispense
      description: "This interaction searches a set of MedicationDispenses based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-medicationdispense.html'>\U0001F4D8 US Core MedicationDispense profile.</a></p>\n\n\U0001F6E1️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n"
      parameters:
      - name: patient
        in: query
        description: Returns dispenses for a specific patient
        schema:
          type: string
        examples:
          patient_id:
            summary: Logical patient id
            value: '6077169'
          patient_reference:
            summary: Relative Patient reference
            value: Patient/6077169
      - name: status
        in: query
        description: preparation | in-progress | cancelled | on-hold | completed | entered-in-error | stopped | declined | unknown
        schema:
          type: string
        example: completed
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationDispense'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /MedicationDispense/{id}:
    get:
      tags:
      - MedicationDispense
      description: "This interaction retrieves a MedicationDispense resource by id.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-medicationdispense.html'>\U0001F4D8 US Core MedicationDispense profile.</a></p>\n\n\U0001F6E1️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n"
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          example: 123
      - name: patient
        in: query
        description: Patient ID to filter the search.
        schema:
          type: integer
          example: 6077169
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/MedicationDispense'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /MedicationDispense/_search:
    post:
      tags:
      - MedicationDispense
      description: "This interaction searches a set of MedicationDispenses based on some filter criteria encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-medicationdispense.html'>\U0001F4D8 US Core MedicationDispense profile.</a></p>\n\n\U0001F6E1️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n"
      operationId: MedicationDispense Search using POST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                patient:
                  type: integer
                  example: 6077169
                status:
                  type: string
                  description: preparation | in-progress | cancelled | on-hold | completed | entered-in-error | stopped | declined | unknown
                  example: completed
              required:
              - patient
      responses:
        '200':
          description: MedicationDispense bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationDispense'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      required:
      - text
      - issue
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        issue:
          type: array
          items:
            required:
            - severity
            - code
            - diagnostics
            type: object
            properties:
              severity:
                minLength: 1
                type: string
              code:
                minLength: 1
                type: string
              diagnostics:
                minLength: 1
                type: string
    MedicationDispense:
      x-us-core-profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationdispense
      description: US Core MedicationDispense (new in US Core 6.1.0)
      required:
      - id
      - resourceType
      - status
      - medicationCodeableConcept
      - subject
      - performer
      - quantity
      - whenHandedOver
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        status:
          minLength: 1
          type: string
        medicationCodeableConcept:
          required:
          - coding
          type: object
          properties:
            coding:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - system
                - code
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
        subject:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            display:
              minLength: 1
              type: string
        performer:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              actor:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
        authorizingPrescription:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - reference
            type: object
            properties:
              reference:
                minLength: 1
                type: string
        quantity:
          required:
          - value
          - unit
          type: object
          properties:
            value:
              type: number
            unit:
              minLength: 1
              type: string
            system:
              minLength: 1
              type: string
            code:
              minLength: 1
              type: string
        daysSupply:
          required:
          - value
          type: object
          properties:
            value:
              type: number
            unit:
              minLength: 1
              type: string
        whenHandedOver:
          minLength: 1
          type: string
        dosageInstruction:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              text:
                minLength: 1
                type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required: null
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: HL7 FHIR US Core IG STU 6.1.0
  url: https://hl7.org/fhir/us/core/STU6.1/
