openapi: 3.2.0
info:
  version: 6.1.0
  title: FHIR Single API - US Core 6.1.0 Diagnostic Report API
  description: Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts.
  x-fhir-version: 4.0.1
  x-us-core-version: 6.1.0
servers:
- url: https://providerapi.advancedmd.com/v1/r4
security:
- bearerAuth: []
tags:
- name: DiagnosticReport
paths:
  /DiagnosticReport:
    get:
      tags:
      - DiagnosticReport
      description: 'This interaction searches a set of DiagnosticReports based on some filter criteria. Search interactions take a series of query parameters for a GET.

        📘 FHIR documentation for DiagnosticReport.


        🛡️ **Authorization behavior:**

        - **Patients** (using `patient/*.read` scope) can access only their own resources.

        - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.

        - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient''s data.'
      parameters:
      - name: patient
        in: query
        description: The subject of the report if a patient
        schema:
          type: string
        examples:
          patient_id:
            summary: Logical patient id
            value: '6077169'
          patient_reference:
            summary: Relative Patient reference
            value: Patient/6077169
      - name: category
        in: query
        description: The diagnostic service category
        schema:
          type: string
        example: LAB
      - name: code
        in: query
        description: The code for the report as defined by LOINC
        schema:
          type: string
        example: 58410-2
      - name: date
        in: query
        description: The clinically relevant time of the report
        schema:
          type: string
          format: date
        example: '2024-06-01'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiagnosticReport'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get diagnostic report
      x-summary-source: derived
      operationId: getDiagnosticReport
      x-operation-id-source: derived
  /DiagnosticReport/{id}:
    get:
      tags:
      - DiagnosticReport
      description: 'This interaction searches DiagnosticReport based on diagnostic report id.Search interactions take diagnostic report id in path for a GET.

        📘 FHIR documentation for DiagnosticReport.


        🛡️ **Authorization behavior:**

        - **Patients** (using `patient/*.read` scope) can access only their own resources.

        - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.

        - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient''s data.'
      parameters:
      - name: id
        in: path
        description: The logical resource id associated with the Resource.
        required: true
        schema:
          type: integer
          example: 9617706119946351
      - name: patient
        in: query
        description: Patient ID to filter the search.
        schema:
          type: integer
          example: 6077169
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/DiagnosticReport'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get diagnostic report by id
      x-summary-source: derived
      operationId: getDiagnosticReportById
      x-operation-id-source: derived
  /DiagnosticReport/_search:
    post:
      tags:
      - DiagnosticReport
      description: 'This interaction searches a set of DiagnosticReports based on some filter criteria. Search interactions take a series of parameters of name''''=''''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.

        📘 FHIR documentation for DiagnosticReport.


        🛡️ **Authorization behavior:**

        - **Patients** (using `patient/*.read` scope) can access only their own resources.

        - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.

        - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient''s data.'
      operationId: DiagnosticReports Search using POST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                patient:
                  type: integer
                  description: The subject of the report if a patient
                  example: 6077169
                category:
                  type: string
                  description: The diagnostic service category
                  example: LAB
                code:
                  type: string
                  description: The code for the report as defined by LOINC
                  example: 58410-2
                date:
                  type: string
                  format: date
                  description: The clinically relevant time of the report
                  example: '2024-06-01'
              required:
              - patient
      responses:
        '200':
          description: DiagnosticReport bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiagnosticReport'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Diagnostic reports search using POST
      x-summary-source: derived
components:
  schemas:
    Error:
      required:
      - text
      - issue
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        issue:
          type: array
          items:
            required:
            - severity
            - code
            - diagnostics
            type: object
            properties:
              severity:
                minLength: 1
                type: string
              code:
                minLength: 1
                type: string
              diagnostics:
                minLength: 1
                type: string
    DiagnosticReport:
      x-us-core-profiles:
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-lab
      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-note
      required:
      - entry
      - id
      - meta
      - resourceType
      - type
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        type:
          minLength: 1
          type: string
        entry:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - fullUrl
            type: object
            properties:
              fullUrl:
                minLength: 1
                type: string
              resource:
                required:
                - category
                - code
                - effectiveDateTime
                - encounter
                - id
                - identifier
                - issued
                - meta
                - performer
                - presentedForm
                - resourceType
                - result
                - status
                - subject
                - text
                type: object
                properties:
                  resourceType:
                    minLength: 1
                    type: string
                  id:
                    minLength: 1
                    type: string
                  meta:
                    required:
                    - tag
                    type: object
                    properties:
                      tag:
                        minItems: 1
                        uniqueItems: true
                        type: array
                        items:
                          required:
                          - code
                          - display
                          - system
                          type: object
                          properties:
                            system:
                              minLength: 1
                              type: string
                            code:
                              minLength: 1
                              type: string
                            display:
                              minLength: 1
                              type: string
                  text:
                    required:
                    - div
                    - status
                    type: object
                    properties:
                      status:
                        minLength: 1
                        type: string
                      div:
                        minLength: 1
                        type: string
                  identifier:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - system
                      - value
                      type: object
                      properties:
                        system:
                          minLength: 1
                          type: string
                        value:
                          minLength: 1
                          type: string
                  status:
                    minLength: 1
                    type: string
                  category:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      type: object
                      properties:
                        coding:
                          minItems: 1
                          uniqueItems: true
                          type: array
                          items:
                            required:
                            - code
                            - system
                            type: object
                            properties:
                              system:
                                minLength: 1
                                type: string
                              code:
                                minLength: 1
                                type: string
                  code:
                    required:
                    - coding
                    - text
                    type: object
                    properties:
                      coding:
                        minItems: 1
                        uniqueItems: true
                        type: array
                        items:
                          required:
                          - code
                          - display
                          - system
                          type: object
                          properties:
                            system:
                              minLength: 1
                              type: string
                            code:
                              minLength: 1
                              type: string
                            display:
                              minLength: 1
                              type: string
                      text:
                        minLength: 1
                        type: string
                  subject:
                    required:
                    - reference
                    type: object
                    properties:
                      reference:
                        minLength: 1
                        type: string
                  encounter:
                    required:
                    - reference
                    type: object
                    properties:
                      reference:
                        minLength: 1
                        type: string
                  effectiveDateTime:
                    minLength: 1
                    type: string
                  issued:
                    minLength: 1
                    type: string
                  performer:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - display
                      - reference
                      type: object
                      properties:
                        reference:
                          minLength: 1
                          type: string
                        display:
                          minLength: 1
                          type: string
                  result:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - reference
                      type: object
                      properties:
                        reference:
                          minLength: 1
                          type: string
                  presentedForm:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - contentType
                      - data
                      - language
                      - title
                      type: object
                      properties:
                        contentType:
                          minLength: 1
                          type: string
                        language:
                          minLength: 1
                          type: string
                        data:
                          minLength: 1
                          type: string
                        title:
                          minLength: 1
                          type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ''
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: HL7 FHIR US Core IG STU 6.1.0
  url: https://hl7.org/fhir/us/core/STU6.1/
