openapi: 3.2.0
info:
  version: 6.1.0
  title: FHIR Single API - US Core 6.1.0 Care Team API
  description: Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts.
  x-fhir-version: 4.0.1
  x-us-core-version: 6.1.0
servers:
- url: https://providerapi.advancedmd.com/v1/r4
security:
- bearerAuth: []
tags:
- name: CareTeam
paths:
  /CareTeam:
    get:
      tags:
      - CareTeam
      description: 'This interaction searches a set of CareTeams based on some filter criteria. Search interactions take a series of query parameters for a GET.

        📘 FHIR documentation for CareTeam.


        🛡️ **Authorization behavior:**

        - **Patients** (using `patient/*.read` scope) can access only their own resources.

        - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.

        - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient''s data.'
      parameters:
      - name: patient
        in: query
        description: Who care team is for
        schema:
          type: string
        examples:
          patient_id:
            summary: Logical patient id
            value: '6077169'
          patient_reference:
            summary: Relative Patient reference
            value: Patient/6077169
      - name: status
        in: query
        description: proposed | active | suspended | inactive | entered-in-error
        schema:
          type: string
        example: active
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CareTeam'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get care team
      x-summary-source: derived
      operationId: getCareTeam
      x-operation-id-source: derived
  /CareTeam/{id}:
    get:
      tags:
      - CareTeam
      description: 'This interaction searches CareTeam based on careteam id.Search interactions take care team id in path for a GET.

        📘 FHIR documentation for CareTeam.


        🛡️ **Authorization behavior:**

        - **Patients** (using `patient/*.read` scope) can access only their own resources.

        - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.

        - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient''s data.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 00000000-0000-0000-0000-000000003238
      - name: patient
        in: query
        description: Patient ID to filter the search.
        schema:
          type: integer
          example: 6077169
      responses:
        '200':
          description: Success
          content:
            application/fhir+json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/CareTeam'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get care team by id
      x-summary-source: derived
      operationId: getCareTeamById
      x-operation-id-source: derived
  /CareTeam/_search:
    post:
      tags:
      - CareTeam
      description: 'This interaction searches a set of CareTeam based on some filter criteria. Search interactions take a series of parameters of name''''=''''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.

        📘 FHIR documentation for CareTeam.


        🛡️ **Authorization behavior:**

        - **Patients** (using `patient/*.read` scope) can access only their own resources.

        - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.

        - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient''s data.'
      operationId: CareTeam Search using POST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                patient:
                  type: integer
                  description: Who careteam is for
                  example: 6077169
                status:
                  type: string
                  description: proposed | active | suspended | inactive | entered-in-error
                  example: active
              required:
              - patient
              - status
      responses:
        '200':
          description: CareTeam bundle
          content:
            application/fhir+json;charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CareTeam'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Care team search using POST
      x-summary-source: derived
components:
  schemas:
    CareTeam:
      x-us-core-profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-careteam
      required:
      - category
      - contained
      - encounter
      - id
      - identifier
      - managingOrganization
      - meta
      - name
      - participant
      - period
      - resourceType
      - status
      - subject
      - text
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        id:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        contained:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - id
            - resourceType
            type: object
            properties:
              resourceType:
                minLength: 1
                type: string
              id:
                minLength: 1
                type: string
              name:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - family
                  type: object
                  properties:
                    family:
                      minLength: 1
                      type: string
                    given:
                      type: array
                      items:
                        type: object
                        properties: {}
        identifier:
          description: Business identifiers assigned to the care team by the source application or care coordination workflow.
          minItems: 1
          uniqueItems: true
          type: array
          items:
            description: Identifier value for the care team when the identifier system is implementation-defined.
            required:
            - value
            type: object
            properties:
              value:
                description: Business identifier value for the care team.
                minLength: 1
                type: string
        status:
          minLength: 1
          type: string
        category:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              coding:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - code
                  - display
                  - system
                  type: object
                  properties:
                    system:
                      minLength: 1
                      type: string
                    code:
                      minLength: 1
                      type: string
                    display:
                      minLength: 1
                      type: string
        name:
          minLength: 1
          type: string
        subject:
          required:
          - display
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
            display:
              minLength: 1
              type: string
        encounter:
          required:
          - reference
          type: object
          properties:
            reference:
              minLength: 1
              type: string
        period:
          required:
          - end
          type: object
          properties:
            end:
              minLength: 1
              type: string
        participant:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            type: object
            properties:
              role:
                minItems: 1
                uniqueItems: true
                type: array
                items:
                  required:
                  - text
                  type: object
                  properties:
                    text:
                      minLength: 1
                      type: string
              member:
                required:
                - display
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
              onBehalfOf:
                required:
                - reference
                type: object
                properties:
                  reference:
                    minLength: 1
                    type: string
              period:
                required:
                - end
                type: object
                properties:
                  end:
                    minLength: 1
                    type: string
        managingOrganization:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
            - reference
            type: object
            properties:
              reference:
                minLength: 1
                type: string
        meta:
          required:
          - tag
          type: object
          properties:
            tag:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                required:
                - code
                - display
                - system
                type: object
                properties:
                  system:
                    minLength: 1
                    type: string
                  code:
                    minLength: 1
                    type: string
                  display:
                    minLength: 1
                    type: string
      description: ''
    Error:
      required:
      - text
      - issue
      type: object
      properties:
        resourceType:
          minLength: 1
          type: string
        text:
          required:
          - div
          - status
          type: object
          properties:
            status:
              minLength: 1
              type: string
            div:
              minLength: 1
              type: string
        issue:
          type: array
          items:
            required:
            - severity
            - code
            - diagnostics
            type: object
            properties:
              severity:
                minLength: 1
                type: string
              code:
                minLength: 1
                type: string
              diagnostics:
                minLength: 1
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: HL7 FHIR US Core IG STU 6.1.0
  url: https://hl7.org/fhir/us/core/STU6.1/
