{
  "openapi": "3.0.1",
  "info": {
    "version": "6.1.0",
    "title": "FHIR Single API - US Core 6.1.0",
    "description": "Fast Healthcare Interoperability Resources (HL7® FHIR®, pronounced \"Fire\") defines a set of \"Resources\" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR is designed for the web; the resources are based on simple JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. This OpenAPI specification is aligned to the HL7 FHIR US Core Implementation Guide STU 6.1.0 on FHIR R4 (v4.0.1).\n",
    "x-fhir-version": "4.0.1",
    "x-us-core-version": "6.1.0"
  },
  "servers": [
    {
      "url": "https://providerapi.advancedmd.com/v1/r4"
    }
  ],
  "externalDocs": {
    "description": "HL7 FHIR US Core IG STU 6.1.0",
    "url": "https://hl7.org/fhir/us/core/STU6.1/"
  },
  "tags": [
    {
      "name": "AllergyIntolerance"
    },
    {
      "name": "CarePlan"
    },
    {
      "name": "CareTeam"
    },
    {
      "name": "Condition"
    },
    {
      "name": "Coverage"
    },
    {
      "name": "Device"
    },
    {
      "name": "DiagnosticReport"
    },
    {
      "name": "DocumentReference"
    },
    {
      "name": "Encounter"
    },
    {
      "name": "Goal"
    },
    {
      "name": "Immunization"
    },
    {
      "name": "Location"
    },
    {
      "name": "MedicationDispense"
    },
    {
      "name": "MedicationRequest"
    },
    {
      "name": "Observation"
    },
    {
      "name": "Organization"
    },
    {
      "name": "Patient"
    },
    {
      "name": "Practitioner"
    },
    {
      "name": "Procedure"
    },
    {
      "name": "Provenance"
    },
    {
      "name": "RelatedPerson"
    }
  ],
  "paths": {
    "/Patient": {
      "get": {
        "tags": [
          "Patient"
        ],
        "description": "This interaction searches a set of Patients based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-patient.html'>📘 FHIR documentation for Patient.</a></p>\n\n🛡️ **Authorization behavior:**\n- **Patients** (using `patient/*.read` scope) can access only their own Patient resource.\n- **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n- **Practitioners** (using `user/*.read` scope) must explicitly pass the `_id` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "Logical ID of the Patient resource. Required for practitioners to access specific patients when using `user/*.read`",
            "schema": {
              "type": "integer"
            },
            "example": 6077169
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "A patient business identifier such as an MRN or MPI. Use token syntax `{system}|{value}` when the issuing system is known, or just the identifier value when the server can infer the system.",
            "schema": {
              "type": "string"
            },
            "example": "http://hospital.smarthealthit.org|90332213"
          },
          {
            "name": "name",
            "in": "query",
            "description": "A text search against patient name. Current implementation behavior primarily matches family names across all `Patient.name` entries (for example `official`, `old`) and may not return results for given-name-only input.",
            "schema": {
              "type": "string"
            },
            "example": "Jones"
          },
          {
            "name": "birthdate",
            "in": "query",
            "description": "The patient's date of birth. Use in combination with `name` for better match precision. Format is `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "1990-07-04"
          },
          {
            "name": "gender",
            "in": "query",
            "description": "The patient's administrative gender. Use in combination with `name` for better match precision. Token values are `male`, `female`, `other`, or `unknown`.",
            "schema": {
              "type": "string"
            },
            "example": "female"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Patient"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Patient/{id}": {
      "get": {
        "tags": [
          "Patient"
        ],
        "description": "This interaction searches Patient based on patient id. Search interactions take patient id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-patient.html'>📘 FHIR documentation for Patient.</a></p>\n\n🛡️ **Authorization behavior:**\n- **Patients** (using `patient/*.read` scope) can access only their own Patient resource.\n- **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n- **Practitioners** (using `user/*.read` scope) must explicitly pass the `id` path parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical resource id associated with the Resource",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Patient/_search": {
      "post": {
        "tags": [
          "Patient"
        ],
        "description": "This interaction searches a set of Patients based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-patient.html'>📘 FHIR documentation for Patient.</a></p>\n\n🛡️ **Authorization behavior:**\n- **Patients** (using `patient/*.read` scope) can access only their own Patient resource.\n- **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n- **Practitioners** (using `user/*.read` scope) must include `_id` in the request body to query another patient.\n",
        "operationId": "Patients Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "integer",
                    "description": "The resource identity",
                    "example": 6077169
                  },
                  "identifier": {
                    "type": "string",
                    "description": "A patient business identifier such as an MRN or MPI. Use token syntax `{system}|{value}` when the issuing system is known, or provide only the identifier value when the server can infer the system.",
                    "example": "http://hospital.smarthealthit.org|90332213"
                  },
                  "name": {
                    "type": "string",
                    "description": "A text search against patient name. Current implementation behavior primarily matches family names across all `Patient.name` entries (for example `official`, `old`) and may not return results for given-name-only input.",
                    "example": "Jones"
                  },
                  "birthdate": {
                    "type": "string",
                    "format": "date",
                    "description": "The patient's date of birth. Use in combination with `name` for better match precision. Format is `YYYY-MM-DD`.",
                    "example": "1990-07-04"
                  },
                  "gender": {
                    "type": "string",
                    "description": "The patient's administrative gender. Use in combination with `name` for better match precision. Token values: `male`, `female`, `other`, `unknown`.",
                    "example": "female"
                  }
                },
                "required": [
                  "_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient bundle",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Patient"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/AllergyIntolerance": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "description": "This interaction searches a set of AllergyIntolerances based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-allergyintolerance.html'>📘 FHIR documentation for AllergyIntolerance.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "Who the sensitivity is for",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/AllergyIntolerance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/AllergyIntolerance/{id}": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "description": "This interaction searches AllergyIntolerance based on allergy intolerance id.Search interactions take allergy intolerance id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-allergyintolerance.html'>📘 FHIR documentation for AllergyIntolerance.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 213
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/AllergyIntolerance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/AllergyIntolerance/_search": {
      "post": {
        "tags": [
          "AllergyIntolerance"
        ],
        "description": "This interaction searches a set of AllergyIntolerances based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-allergyintolerance.html'>📘 FHIR documentation for AllergyIntolerance.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n",
        "operationId": "AllergyIntolerances Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "integer",
                    "description": "Who allergy intolerance is for",
                    "example": 6077169
                  }
                },
                "required": [
                  "patient"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AllergyIntolerance bundle",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllergyIntolerance"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/CarePlan": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "description": "This interaction searches a set of CarePlans based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-careplan.html'>📘 FHIR documentation for CarePlan.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "Who the care plan is for",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Type of care plan",
            "schema": {
              "type": "string"
            },
            "example": 736373009
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CarePlan"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/CarePlan/{id}": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "description": "This interaction searches Careplan based on care plan id.Search interactions take careplan id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-careplan.html'>📘 FHIR documentation for CarePlan.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical resource id associated with the Resource.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 153649881
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CarePlan"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/CarePlan/_search": {
      "post": {
        "tags": [
          "CarePlan"
        ],
        "description": "This interaction searches a set of CarePlans based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-careplan.html'>📘 FHIR documentation for CarePlan.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n",
        "operationId": "CarePlans Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "integer",
                    "description": "Who care plan is for",
                    "example": 6077169
                  },
                  "category": {
                    "type": "string",
                    "description": "Type of care plan",
                    "example": 736373009
                  }
                },
                "required": [
                  "patient",
                  "category"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CarePlan bundle",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CarePlan"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/CareTeam": {
      "get": {
        "tags": [
          "CareTeam"
        ],
        "description": "This interaction searches a set of CareTeams based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-careteam.html'>📘 FHIR documentation for CareTeam.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "Who care team is for",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "proposed | active | suspended | inactive | entered-in-error",
            "schema": {
              "type": "string"
            },
            "example": "active"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CareTeam"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/CareTeam/{id}": {
      "get": {
        "tags": [
          "CareTeam"
        ],
        "description": "This interaction searches CareTeam based on careteam id.Search interactions take care  team id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-careteam.html'>📘 FHIR documentation for CareTeam.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "00000000-0000-0000-0000-000000003238"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CareTeam"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/CareTeam/_search": {
      "post": {
        "tags": [
          "CareTeam"
        ],
        "description": "This interaction searches a set of CareTeam based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-careteam.html'>📘 FHIR documentation for CareTeam.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n",
        "operationId": "CareTeam Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "integer",
                    "description": "Who careteam is for",
                    "example": 6077169
                  },
                  "status": {
                    "type": "string",
                    "description": "proposed | active | suspended | inactive | entered-in-error",
                    "example": "active"
                  }
                },
                "required": [
                  "patient",
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CareTeam bundle",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CareTeam"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Condition": {
      "get": {
        "tags": [
          "Condition"
        ],
        "description": "This interaction searches a set of Conditions based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/CapabilityStatement-us-core-server.html#condition'>📘 FHIR documentation for Condition.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "Who condition is for",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The category of the condition.\nCommon US Core Condition categories include `problem-list-item` and `encounter-diagnosis`.\nAdditional categories now supported include:\n- `sdoh` - SDOH Assessment\n- `functional-status` - Functional Status\n- `disability-status` - Disability Status\n- `cognitive-status` - Mental/Cognitive Status\n",
            "schema": {
              "type": "string"
            },
            "example": "sdoh"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Condition"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Condition/{id}": {
      "get": {
        "tags": [
          "Condition"
        ],
        "description": "This interaction searche Condition based on condition id.Search interactions take condition id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/CapabilityStatement-us-core-server.html#condition'>📘 FHIR documentation for Condition.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical resource id associated with the Resource.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 511
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Condition"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Condition/_search": {
      "post": {
        "tags": [
          "Condition"
        ],
        "description": "This interaction searches a set of Conditions based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/CapabilityStatement-us-core-server.html#condition'>📘 FHIR documentation for Condition.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n",
        "operationId": "Conditions Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "integer",
                    "description": "Who condition is for",
                    "example": 6077169
                  },
                  "category": {
                    "type": "string",
                    "description": "The category of the condition. Common US Core categories include `problem-list-item` and `encounter-diagnosis`.\nAdditional categories include `sdoh`, `functional-status`, `disability-status`, and `cognitive-status`.\n",
                    "example": "sdoh"
                  }
                },
                "required": [
                  "patient",
                  "category"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Condition bundle",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Condition"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport": {
      "get": {
        "tags": [
          "DiagnosticReport"
        ],
        "description": "This interaction searches a set of DiagnosticReports based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/CapabilityStatement-us-core-server.html#diagnosticreport'>📘 FHIR documentation for DiagnosticReport.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "The subject of the report if a patient",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The diagnostic service category",
            "schema": {
              "type": "string"
            },
            "example": "LAB"
          },
          {
            "name": "code",
            "in": "query",
            "description": "The code for the report as defined by LOINC",
            "schema": {
              "type": "string"
            },
            "example": "58410-2"
          },
          {
            "name": "date",
            "in": "query",
            "description": "The clinically relevant time of the report",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-06-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiagnosticReport"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport/{id}": {
      "get": {
        "tags": [
          "DiagnosticReport"
        ],
        "description": "This interaction searches DiagnosticReport based on diagnostic report id.Search interactions take diagnostic report id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/CapabilityStatement-us-core-server.html#diagnosticreport'>📘 FHIR documentation for DiagnosticReport.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical resource id associated with the Resource.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 9617706119946351
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport/_search": {
      "post": {
        "tags": [
          "DiagnosticReport"
        ],
        "description": "This interaction searches a set of DiagnosticReports based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/CapabilityStatement-us-core-server.html#diagnosticreport'>📘 FHIR documentation for DiagnosticReport.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n",
        "operationId": "DiagnosticReports Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "integer",
                    "description": "The subject of the report if a patient",
                    "example": 6077169
                  },
                  "category": {
                    "type": "string",
                    "description": "The diagnostic service category",
                    "example": "LAB"
                  },
                  "code": {
                    "type": "string",
                    "description": "The code for the report as defined by LOINC",
                    "example": "58410-2"
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The clinically relevant time of the report",
                    "example": "2024-06-01"
                  }
                },
                "required": [
                  "patient"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DiagnosticReport bundle",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiagnosticReport"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Device": {
      "get": {
        "tags": [
          "Device"
        ],
        "description": "This interaction searches a set of Devices based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-implantable-device.html'>📘 FHIR documentation for Device.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "Who device is for",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Device/{id}": {
      "get": {
        "tags": [
          "Device"
        ],
        "description": "This interaction searches Device based on device id.Search interactions take device id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-implantable-device.html'>📘 FHIR documentation for Device.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 2
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Device/_search": {
      "post": {
        "tags": [
          "Device"
        ],
        "description": "This interaction searches a set of Device based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-implantable-device.html'>📘 FHIR documentation for Device.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n",
        "operationId": "Device Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "integer",
                    "description": "Who device is for",
                    "example": 6077169
                  }
                },
                "required": [
                  "patient"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device bundle",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DocumentReference": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "description": "This interaction searches a set of DocumentReferences based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-documentreference.html'>📘 FHIR documentation for DocumentReference.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "Who/what is the subject of the document",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          },
          {
            "name": "_id",
            "in": "query",
            "description": "Logical id of the document reference",
            "schema": {
              "type": "string"
            },
            "example": 153649915
          },
          {
            "name": "type",
            "in": "query",
            "description": "Kind of document (LOINC if possible)",
            "schema": {
              "type": "string"
            },
            "example": "34133-9"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Categorization of document",
            "schema": {
              "type": "string"
            },
            "example": "clinical-note"
          },
          {
            "name": "date",
            "in": "query",
            "description": "When this document reference was created",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-06-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentReference"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DocumentReference/{id}": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "description": "This interaction searches DocumentReference based on document reference id.Search interactions take document reference id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-documentreference.html'>📘 FHIR documentation for DocumentReference.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical resource id associated with the Resource.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 153649915
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentReference"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DocumentReference/$docref": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "description": "This operation returns references to documents related to a patient and aligns to the US Core Fetch DocumentReference operation.<p><a href='https://hl7.org/fhir/us/core/STU6.1/OperationDefinition-docref.html'>📄 US Core $docref operation.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "operationId": "DocumentReferenceFetchDocref",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "required": true,
            "description": "The id of the patient resource.",
            "schema": {
              "type": "integer"
            },
            "example": 6077169
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start of the care date range for matching documents.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-01-01T00:00:00Z"
          },
          {
            "name": "end",
            "in": "query",
            "description": "End of the care date range for matching documents.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2024-12-31T23:59:59Z"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Document type code such as the LOINC code for CCD.",
            "schema": {
              "type": "string"
            },
            "example": "34133-9"
          },
          {
            "name": "on-demand",
            "in": "query",
            "description": "Whether to request only on-demand documents.",
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "profile",
            "in": "query",
            "description": "Canonical profile URL used to request documents for a specific profile.",
            "schema": {
              "type": "string"
            },
            "example": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference"
          }
        ],
        "responses": {
          "200": {
            "description": "Searchset bundle containing DocumentReference resources.",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentReference"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DocumentReference/_search": {
      "post": {
        "tags": [
          "DocumentReference"
        ],
        "description": "This interaction searches a set of DocumentReferences based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-documentreference.html'>📘 FHIR documentation for DocumentReference.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n",
        "operationId": "DocumentReferences Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "integer",
                    "description": "Who/what is the subject of the document",
                    "example": 6077169
                  },
                  "_id": {
                    "type": "string",
                    "description": "Logical id of the document reference",
                    "example": 153649915
                  },
                  "type": {
                    "type": "string",
                    "description": "Kind of document (LOINC if possible)",
                    "example": "34133-9"
                  },
                  "category": {
                    "type": "string",
                    "description": "Categorization of document",
                    "example": "clinical-note"
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "When this document reference was created",
                    "example": "2024-06-01"
                  }
                },
                "required": [
                  "patient"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DocumentReference bundle",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentReference"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Encounter": {
      "get": {
        "tags": [
          "Encounter"
        ],
        "description": "This interaction searches a set of Encounters based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-encounter.html'>📘 FHIR documentation for Encounter.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "Logical id of the encounter.",
            "schema": {
              "type": "string"
            },
            "example": 5307983
          },
          {
            "name": "date",
            "in": "query",
            "description": "A date within the encounter period.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-06-01"
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Business identifier assigned to the encounter by the source system, visit management system, or EHR. Use token syntax `{system}|{value}` when the identifier namespace is known.",
            "schema": {
              "type": "string"
            },
            "example": "http://example.org/encounters|ENC-5307983"
          },
          {
            "name": "patient",
            "in": "query",
            "description": "The patient present at the encounter.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "planned | arrived | triaged | in-progress | onleave | finished | cancelled",
            "schema": {
              "type": "string"
            },
            "example": "finished"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Encounter"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Encounter/{id}": {
      "get": {
        "tags": [
          "Encounter"
        ],
        "description": "This interaction searches Encounter based on encounter id.Search interactions take encounter id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-encounter.html'>📘 FHIR documentation for Encounter.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical resource id associated with the Resource.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 5307983
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Encounter"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Goal": {
      "get": {
        "tags": [
          "Goal"
        ],
        "description": "This interaction searches a set of Goals based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-goal.html'>📘 FHIR documentation for Goal.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "Who this goal is intended for",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Goal"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Goal/{id}": {
      "get": {
        "tags": [
          "Goal"
        ],
        "description": "This interaction searches Goal based on goal id.Search interactions take goal id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-goal.html'>📘 FHIR documentation for Goal.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 153649896
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Goal"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Goal/_search": {
      "post": {
        "tags": [
          "Goal"
        ],
        "description": "This interaction searches a set of Goal based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-goal.html'>📘 FHIR documentation for Goal.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n",
        "operationId": "Goal Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "integer",
                    "description": " ",
                    "example": 6077169
                  }
                },
                "required": [
                  "patient"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DiagnosticReport bundle",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Goal"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Immunization": {
      "get": {
        "tags": [
          "Immunization"
        ],
        "description": "This interaction searches a set of Immunizations based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-immunization.html'>📘 FHIR documentation for Immunization.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "Who this immunization is intended for",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Immunization"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Immunization/{id}": {
      "get": {
        "tags": [
          "Immunization"
        ],
        "description": "This interaction searches Immunization based on immunization id.Search interactions take immunization id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-immunization.html'>📘 FHIR documentation for Immunization.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The logical resource id associated with the Resource.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 95
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Immunization"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Immunization/_search": {
      "post": {
        "tags": [
          "Immunization"
        ],
        "description": "This interaction searches a set of Immunizations based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-immunization.html'>📘 FHIR documentation for Immunization.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n",
        "operationId": "Immunizations Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "integer",
                    "description": "The patient for the vaccination record",
                    "example": 6077169
                  }
                },
                "required": [
                  "patient"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Immunization bundle",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Immunization"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Location": {
      "get": {
        "tags": [
          "Location"
        ],
        "description": "This interaction searches a set of Locations based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-location.html'>📘 FHIR documentation for Location.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "A (portion of the) location's name",
            "schema": {
              "type": "string",
              "example": "Family Medicine"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "A (portion of the) address of the location",
            "schema": {
              "type": "string",
              "example": "123 Main St"
            }
          },
          {
            "name": "address-city",
            "in": "query",
            "description": "A city specified in an address",
            "schema": {
              "type": "string",
              "example": "Kansas City"
            }
          },
          {
            "name": "address-state",
            "in": "query",
            "description": "A state specified in an address",
            "schema": {
              "type": "string",
              "example": "MO"
            }
          },
          {
            "name": "address-postalcode",
            "in": "query",
            "description": "A postal code specified in an address",
            "schema": {
              "type": "string",
              "example": "64154"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Location/{id}": {
      "get": {
        "tags": [
          "Location"
        ],
        "description": "This interaction searches Location based on location id.Search interactions take location id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-location.html'>📘 FHIR documentation for Location.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "174"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationRequest": {
      "get": {
        "tags": [
          "MedicationRequest"
        ],
        "description": "This interaction searches a set of MedicationRequests based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-medicationrequest.html'>📘 FHIR documentation for MedicationRequest.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "Who this goal is intended for",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          },
          {
            "name": "intent",
            "in": "query",
            "description": "proposal | plan | order | original-order | reflex-order | filler-order | instance-order | option",
            "schema": {
              "type": "string"
            },
            "example": "order"
          },
          {
            "name": "status",
            "in": "query",
            "description": "active | on-hold | cancelled | completed | entered-in-error | stopped | draft | unknown",
            "schema": {
              "type": "string"
            },
            "example": "active"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MedicationRequest"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationRequest/{id}": {
      "get": {
        "tags": [
          "MedicationRequest"
        ],
        "description": "This interaction searches MedicationRequest based on medication request id.Search interactions take medication request id in path for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-medicationrequest.html'>📘 FHIR documentation for MedicationRequest.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 407
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient ID to filter the search.",
            "schema": {
              "type": "integer",
              "example": 6077169
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationRequest/_search": {
      "post": {
        "tags": [
          "MedicationRequest"
        ],
        "description": "This interaction searches a set of MedicationRequest based on some filter criteria. Search interactions take a series of parameters of name''=''value pairs encoded as an application/x-www-form-urlencoded submission for a POST.<p><a href='https://hl7.org/fhir/us/core/STU6.1/StructureDefinition-us-core-medicationrequest.html'>📘 FHIR documentation for MedicationRequest.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` parameter (in the request body) to access another patient's data.\n",
        "operationId": "MedicationRequest Search using POST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "integer",
                    "description": " ",
                    "example": 6077169
                  },
                  "intent": {
                    "type": "string",
                    "description": "proposal | plan | order | original-order | reflex-order | filler-order | instance-order | option",
                    "example": "order"
                  },
                  "status": {
                    "type": "string",
                    "description": "active | on-hold | cancelled | completed | entered-in-error | stopped | draft | unknown",
                    "example": "active"
                  }
                },
                "required": [
                  "patient",
                  "intent"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DiagnosticReport bundle",
            "content": {
              "application/fhir+json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MedicationRequest"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/Observation": {
      "get": {
        "tags": [
          "Observation"
        ],
        "description": "This interaction searches a set of Observations based on some filter criteria. Search interactions take a series of query parameters for a GET.<p><a href='https://hl7.org/fhir/us/core/STU6.1/CapabilityStatement-us-core-server.html#observation'>📘 FHIR documentation for Observation.</a></p>\n\n🛡️ **Authorization behavior:**\n  - **Patients** (using `patient/*.read` scope) can access only their own resources.\n  - **Practitioners** (using `patient/*.read` scope) can access to only one assigned patient.\n  - **Practitioners** (using `user/*.read` scope) must provide the `patient` query parameter to access another patient's data.\n",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "The subject that the observation is about (if patient)",
            "schema": {
              "type": "string"
            },
            "examples": {
              "patient_id": {
                "summary": "Logical patient id",
                "value": "6077169"
              },
              "patient_reference": {
                "summary": "Relative Patient reference",
                "value": "Patient/6077169"
              }
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The classification of the observation. Common US Core Observation profile categories include:\n- `laboratory` — US Core Laboratory Result Observation Profile\n- `vital-signs` — US Core Vital Signs Profile (Blood Pressure, BMI, Body Height/Weight/Temperature, Head Circumference, Heart Rate, Pulse Oximetry, Respiratory Rate, and pediatric profiles)\n- `social-history` — US Core Observation Occupation, Sexual Orientation, Smoking Status profiles\n- `survey` — US Core Observation Screening Assessment, Pregnancy Intent/Status profiles\nFor screening and assessment use cases, US Core supports additional category values in addition to `survey`, including:\n- `sdoh` - SDOH Assessment\n- `functional-status` - Functional Status\n- `disability-status` - Disability Status\n- `cognitive-status` - Mental/Cognitive Status\n",
            "schema": {
              "type": "string"
            },
            "example": "laboratory"
          },
          {
            "name": "code",
            "in": "query",
            "description": "The LOINC or SNOMED code of the observation type. Use token syntax `{system}|{code}` to specify a code system, or just the code value alone.\n\nCommon US Core Observation LOINC codes organized by profile:\n\n**Vital Signs:**\n- `8867-4` — Heart rate\n- `8310-5` — Body temperature\n- `8302-2` — Body height\n- `29463-7` — Body weight\n- `39156-5` — BMI\n- `2708-6` — Oxygen saturation\n- `9279-1` — Respiratory rate\n- `85354-9` — Systolic and Diastolic BP\n\n**Laboratory Results:**\n- `2345-7` — Glucose (serum/plasma)\n- `2951-2` — Sodium\n\n**Social History:**\n- `72166-2` — Smoking status\n- `11341-5` — Occupation\n\n**Sexual Orientation (US Core 6.1.0):**\n- `76690-7` — Sexual orientation\n\n**Pregnancy (US Core 6.1.0):**\n- `82810-3` — Pregnancy status\n- `76438-3` — Pregnancy intent\n",
            "schema": {
              "type": "string"
            },
            "examples": {
              "loinc_code_only": {
                "value": "8867-4",
                "description": "Heart rate only"
              },
              "loinc_with_system": {
                "value": "http://loinc.org|8867-4",
                "description": "Heart rate with LOINC system"
              },
              "sexual_orientation": {
                "value": "http://loinc.org|76690-7",
                "description": "Sexual orientation (6.1.0)"
              },
              "pregnancy_status": {
                "value": "http://loinc.org|82810-3",
                "description": "Pregnancy status (6.1.0)"
              }
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Clinically relevant date/time of the observation. Supports prefixes `eq`, `lt`, `gt`, `ge`, `le` (e.g. `ge2024-01-01`). If the obtained element is a period, matches any date that falls within the period.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-06-01"
          },
          {
            "name": "status",
            "in": "query",
[...]
